{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' id='home-css'  href='{{ asset('assets/css/home.css') }}' type='text/css' media='all' />
{% endblock %}

{% block breadcrumbtitle %}Ashad{% endblock %}
{% block breadcrumblist %}
	<li>
		<a href="https://demo.themeum.com/wordpress/moview" class="breadcrumb_home">
			Accueil
		</a>
	</li>
	<li class="active">
		Movies
	</li>
{% endblock %}

{% block breadcrumb %} {% endblock %}

{% block body %}
	<div id="post-68" class="post-68 page type-page status-publish hentry">
		<div class="entry-content">
			<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid container-fullwidth vc_custom_1455700416777 vc_row-no-padding">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner vc_custom_1455700439913">
						<div class="wpb_wrapper">
							<div id="moview-movie" style="visibility: hidden;" class="moview-movie-featured ">
								<div class="row-fluid">
									<div class="movie-featured">
										{% for movie in nowPlayingMovies %}
											<div class="item">
												<div class="movie-poster">
													<a href="https://demo.themeum.com/wordpress/moview/movie/the-forest/">
														<img class="img-responsive"
															 src="{{ asset('https://image.tmdb.org/t/p/w500/' ~ movie.posterPath ) }}"
															 alt="{{ movie.title }}">
													</a>
												</div>

{#												{% set trailer = "" %}
												{% set break = false %}
												{% for video in movie.videos if not break %}
													{% if video.type == "Trailer" %}
														{% set trailer = video %}
														{% set break = true %}
													{% endif %}
												{% endfor %}#}

												<a class="play-icon play-video" data-movie-video="{{ movie.id }}" href="" data-type="youtube">
													<i class="themeum-moviewplay"></i>
												</a>
												<div class="content-wrap">
													<div class="video-container">
														<span class="video-close">x</span>
													</div>
												</div>
												<div class="movie-details">
													<div class="moview-rating-wrapper">
														<div class="moview-rating">
															<span class="star active"></span>
														</div>
														<span class="moview-rating-summary">
															{% if movie.voteCount|length %}
																<span>{{ movie.voteAverage }}</span>
																/10
															{% endif %}
														</span>
													</div>
													<div class="movie-name">
														<h2 class="movie-title no-margin-bottom">
															<a href="https://demo.themeum.com/wordpress/moview/movie/the-forest/">
																{{ movie.title }}
															</a>
														</h2>
														<span class="small">({{ movie.releaseDate|date('d-m-Y') }})</span>
														<span class="tag">
															{{ movie.tagline }}
														</span>
													</div>
													<div class="cast">
														<span data-movie-genres="{{ movie.id }}">
{#															{% for genre in movie.genres|slice(0, 3) %}
																{{ genre.name }}{% if not loop.last %}, {% endif %}
															{% endfor %}#}
															{#				{% if movie.genres|length > 3 %}
																				...
																			{% endif %}#}
														</span>
													</div>
												</div>
											</div>
										{% endfor %}
										{#										<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/captain-america-civil-war/"><img
																									class="img-responsive"
																									src="https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/2-1-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="Captain Asia: Cricket War"></a></div>
																					<a class="play-icon play-video" href="uVdV-lxRPFo" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>8</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/captain-america-civil-war/">Captain
																									Asia: Cricket War(2016)</a></h2><span class="tag">Action, Drama </span>
																						</div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/nina-dobrev/">Nina
																								Dobrev</a></div>
																					</div>
																				</div>
																				<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/x-men-apocalypse/"><img
																									class="img-responsive"
																									src="https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-2-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="Y-Person: Calypse"></a></div>
																					<a class="play-icon play-video" href="COvnHv42T-A" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>6</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/x-men-apocalypse/">Y-Person:
																									Calypse(2016)</a></h2><span
																									class="tag">Action, Drama </span></div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/taylor-swift/">Tata
																								Tong</a></div>
																					</div>
																				</div>
																				<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/batman-v-superman-dawn-of-justice/"><img
																									class="img-responsive"
																									src="https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/4-2-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="Lorem v Tempora"></a></div>
																					<a class="play-icon play-video" href="NhWg7AQLI_8" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>6</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/batman-v-superman-dawn-of-justice/">Lorem
																									v Tempora(2016)</a></h2><span
																									class="tag">Action, Drama </span></div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/megan-carri/">Megan
																								Carri</a></div>
																					</div>
																				</div>
																				<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/the-reverent/"><img
																									class="img-responsive"
																									src="https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/5-1-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="Hail, Caesar!"></a></div>
																					<a class="play-icon play-video" href="kMqeoW3XRa0" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>7</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/the-reverent/">Hail,
																									Caesar!(2017)</a></h2><span
																									class="tag">Action, Drama </span></div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/mila-kunis/">Mila
																								Kunis</a></div>
																					</div>
																				</div>
																				<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/angry-dory/"><img
																									class="img-responsive"
																									src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-2-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="Angry Dory"></a></div>
																					<a class="play-icon play-video" href="3JNLwlcPBPI" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>7</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/angry-dory/">Angry
																									Dory(2017)</a></h2><span class="tag">Action, Drama </span>
																						</div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">Dummy
																								Crud</a></div>
																					</div>
																				</div>
																				<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/no-escape/"><img
																									class="img-responsive"
																									src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="WP Revive"></a></div>
																					<a class="play-icon play-video" href="CmRih_VtVAs" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>8</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/no-escape/">WP
																									Revive(2021)</a></h2><span class="tag">Action, Drama </span>
																						</div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/scarlett-johansson/">Simply
																								Jummy</a></div>
																					</div>
																				</div>
																				<div class="item">
																					<div class="movie-poster"><a
																								href="https://demo.themeum.com/wordpress/moview/movie/darkness-world/"><img
																									class="img-responsive"
																									src="https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2-1.jpg?resize=400%2C650&#038;ssl=1"
																									alt="Darkness World"></a></div>
																					<a class="play-icon play-video" href="gtTfd6tISfw" data-type="youtube">
																						<i class="themeum-moviewplay"></i>
																					</a>
																					<div class="content-wrap">
																						<div class="video-container"><span class="video-close">x</span></div>
																					</div>
																					<div class="movie-details">
																						<div class="moview-rating-wrapper">
																							<div class="moview-rating"><span class="star active"></span></div>
																							<span class="moview-rating-summary"><span>6</span>/10</span></div>
																						<div class="movie-name">
																							<h2 class="movie-title"><a
																										href="https://demo.themeum.com/wordpress/moview/movie/darkness-world/">Darkness
																									World(2019)</a></h2><span class="tag">Action, Drama </span>
																						</div>
																						<div class="cast">
																							<span>Cast :</span> <a
																									href="https://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">Julia
																								Toufis</a></div>
																					</div>
																				</div>#}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			<div class="vc_row wpb_row vc_row-fluid vc_custom_1455700549561">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner vc_custom_1455700479497">
						<div class="wpb_wrapper">
							<div class="themeum-title yes "><h3 class="style-title"
																style="font-weight:400;font-size:24px;line-height: normal;">
									<span class="title-icon-style"
										  style="color:#dd3333;font-size:35px;line-height: normal;"><i
												class="themeum-moviewvideocam"></i></span>Découvrez les films</h3>
								<a
										href="#" class="title-link pull-right">Voir tout<i
											class="themeum-moviewangle-double-right"></i></a></div>
							<div class="spotlight-post tabpanel">
								<ul class="list-unstyled list-inline text-left">
									<li class="active"><a href="#recent" data-toggle="tab">Nouveautés</a></li>
									<li><a href="#upcoming" data-toggle="tab">A venir</a></li>
									<li><a href="#popular" data-toggle="tab">Popularité</a></li>
									<li><a href="#top-rated" data-toggle="tab">Les mieux notés</a></li>
								</ul>
								<div class="tab-content">
									<div class="spotlight moview-common-layout tab-pane active fade in" id="recent">
										{% for movie in recentMovies %}
											<div class="item">
												<div class="movie-poster">
													<img width="400" height="650"
														 src="{{ asset('https://image.tmdb.org/t/p/w500/' ~ movie.posterPath ) }}"
														 class="img-responsive wp-post-image"
														 alt="{{ movie.title }}"
													/>
													<a class="play-icon play-video" data-movie-video="{{ movie.id }}" href="" data-type="youtube">
														<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container">
															<span class="video-close">x</span>
														</div>
													</div>
												</div>
												<div class="movie-details">
													<div class="movie-rating-wrapper">
														<div class="movie-rating">
															<span class="themeum-moviewstar active"></span>
														</div>
														<span class="rating-summary">
														<span>{{ movie.voteAverage }}</span>/10
													</span>
													</div>
													<div class="movie-name">
														<h4 class="movie-title">
															<a href="https://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">
																{{ movie.title }}
															</a>
														</h4>
														<span class="tag no-margin-bottom" data-movie-genres="{{ movie.id }}"></span>
														<span class="small">({{ movie.releaseDate|date('d-m-Y') }})</span>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="spotlight moview-common-layout tab-pane fade in" id="upcoming">
										{% for movie in upcomingMovies %}
											<div class="item">
												<div class="movie-poster">
													<img width="400" height="650"
														 src="{{ asset('https://image.tmdb.org/t/p/w500/' ~ movie.posterPath ) }}"
														 class="img-responsive wp-post-image"
														 alt="{{ movie.title }}"
													/>
													<a class="play-icon play-video" data-movie-video="{{ movie.id }}" href="" data-type="youtube">
														<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container">
															<span class="video-close">x</span>
														</div>
													</div>
												</div>
												<div class="movie-details">
													<div class="movie-rating-wrapper">
														<div class="movie-rating">
															<span class="themeum-moviewstar active"></span>
														</div>
														<span class="rating-summary">
														<span>{{ movie.voteAverage }}</span>/10
													</span>
													</div>
													<div class="movie-name">
														<h4 class="movie-title">
															<a href="https://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">
																{{ movie.title }}
															</a>
														</h4>
														<span class="tag no-margin-bottom" data-movie-genres="{{ movie.id }}"></span>
														<span class="small">({{ movie.releaseDate|date('d-m-Y') }})</span>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="spotlight moview-common-layout tab-pane fade in" id="popular">
										{% for movie in popularMovies %}
											<div class="item">
												<div class="movie-poster">
													<img width="400" height="650"
														 src="{{ asset('https://image.tmdb.org/t/p/w500/' ~ movie.posterPath ) }}"
														 class="img-responsive wp-post-image"
														 alt="{{ movie.title }}"
													/>
													<a class="play-icon play-video" data-movie-video="{{ movie.id }}" href="" data-type="youtube">
														<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container">
															<span class="video-close">x</span>
														</div>
													</div>
												</div>
												<div class="movie-details">
													<div class="movie-rating-wrapper">
														<div class="movie-rating">
															<span class="themeum-moviewstar active"></span>
														</div>
														<span class="rating-summary">
														<span>{{ movie.voteAverage }}</span>/10
													</span>
													</div>
													<div class="movie-name">
														<h4 class="movie-title">
															<a href="https://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">
																{{ movie.title }}
															</a>
														</h4>
														<span class="tag no-margin-bottom" data-movie-genres="{{ movie.id }}"></span>
														<span class="small">({{ movie.releaseDate|date('d-m-Y') }})</span>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="spotlight moview-common-layout tab-pane fade in" id="top-rated">
										{% for movie in topRatedMovies %}
											<div class="item">
												<div class="movie-poster">
													<img width="400" height="650"
														 src="{{ asset('https://image.tmdb.org/t/p/w500/' ~ movie.posterPath ) }}"
														 class="img-responsive wp-post-image"
														 alt="{{ movie.title }}"
													/>
													<a class="play-icon play-video" data-movie-video="{{ movie.id }}" href="" data-type="youtube">
														<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container">
															<span class="video-close">x</span>
														</div>
													</div>
												</div>
												<div class="movie-details">
													<div class="movie-rating-wrapper">
														<div class="movie-rating">
															<span class="themeum-moviewstar active"></span>
														</div>
														<span class="rating-summary">
														<span>{{ movie.voteAverage }}</span>/10
													</span>
													</div>
													<div class="movie-name">
														<h4 class="movie-title">
															<a href="https://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">
																{{ movie.title }}
															</a>
														</h4>
														<span class="tag no-margin-bottom" data-movie-genres="{{ movie.id }}"></span>
														<span class="small">({{ movie.releaseDate|date('d-m-Y') }})</span>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row wpb_row vc_row-fluid vc_custom_1455700958559">
				{#<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner vc_custom_1455700908281">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left">

								<figure class="wpb_wrapper vc_figure">
									<div class="vc_single_image-wrapper   vc_box_border_grey">
										<img width="1142"
											 height="90"
											 src="https://demo.themeum.com/wordpress/moview/wp-content/plugins/jetpack/modules/lazy-images/images/1x1.trans.gif"
											 class="vc_single_image-img attachment-full"
											 alt=""
											 data-lazy-src="https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1.jpg?fit=1142%2C90&amp;ssl=1"
											 data-lazy-srcset="https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1.jpg?w=1142&amp;ssl=1 1142w, https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1.jpg?resize=300%2C24&amp;ssl=1 300w, https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1.jpg?resize=768%2C61&amp;ssl=1 768w, https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1.jpg?resize=1024%2C81&amp;ssl=1 1024w"
											 data-lazy-sizes="(max-width: 1000px) 100vw, 1000px"/>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>#}
			</div>
			<div data-vc-full-width="true" data-vc-full-width-init="false"
				 class="vc_row wpb_row vc_row-fluid vc_custom_1505897463983 vc_row-has-fill">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="themeum-title yes transparent-border">
								<h3 class="style-title" style="font-weight:400;font-size:24px;line-height: normal;color:#ffffff;">
									<span class="title-icon-style" style="color:#8dc63f;font-size:35px;line-height: normal;">
										<i class="themeum-moviewcamera"></i>
									</span>
									Bandes annonces &amp; Videos
								</h3>
								<a href="#" class="title-link pull-right">
									Voir toutes les bandes annonces &amp; Videos
									<i class="themeum-moviewangle-double-right"></i>
								</a>
							</div>
							<div class="trailers-videos">
								<div class="row">
									<div class="trailer-item leading col-sm-12">
										<div class="trailer">
											<div class="trailer-image-wrap">
												<img class="img-responsive"
													 src="https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/8-2.jpg?resize=2000%2C1050&#038;ssl=1"
													 alt="trailers">
												<a class="play-video" href="xnv__ogkt0M" data-type="youtube">
													<i class="play-icon themeum-moviewplay"></i>
												</a>
												<div class="content-wrap">
													<div class="video-container">
														<span class="video-close">x</span>
													</div>
												</div>
											</div>
											<div class="trailer-info trailers-info">
												<div class="trailer-info-block">
													<img class="img-responsive thumb-img"
														 src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2-1.jpg?resize=100%2C100&#038;ssl=1"
														 alt="Justice League">
													<h3 class="movie-title">
														<a href="https://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">
															Justice League(2020)
														</a>
													</h3>
													<p class="genry">Action, Drama</p>
												</div>
												<div class="count-rating pull-right">
													<span>9</span>
												</div>
											</div>
										</div>
									</div>
									<div class="trailer-item subleading col-sm-3">
										<div class="trailer">
											<div class="trailer-image-wrap">
												<img class="img-responsive"
													 src="https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/10-1-1.jpg?resize=265%2C165&#038;ssl=1"
													 alt="trailers">
												<a class="play-video" href="xnv__ogkt0M" data-type="youtube">
													<i class="play-icon themeum-moviewplay"></i>
												</a>
												<div class="content-wrap">
													<div class="video-container">
														<span class="video-close">x</span>
													</div>
												</div>
											</div>
											<div class="trailer-info trailers-info">
												<div class="trailer-info-block">
													<h3 class="movie-title">
														<a href="https://demo.themeum.com/wordpress/moview/movie/dead-men-tell-no-tales/">
															Dead Men(2020)
														</a>
													</h3>
													<p class="genry">Action, Drama </p>
												</div>
											</div>
										</div>
									</div>
									<div class="trailer-item subleading col-sm-3">
										<div class="trailer">
											<div class="trailer-image-wrap">
												<img class="img-responsive"
													 src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-3.jpg?resize=265%2C165&#038;ssl=1"
													 alt="trailers">
												<a class="play-video" href="gtTfd6tISfw" data-type="youtube">
													<i class="play-icon themeum-moviewplay"></i>
												</a>
												<div class="content-wrap">
													<div class="video-container">
														<span class="video-close">x</span>
													</div>
												</div>
											</div>
											<div class="trailer-info trailers-info">
												<div class="trailer-info-block">
													<h3 class="movie-title">
														<a href="https://demo.themeum.com/wordpress/moview/movie/darkness-world/">
															Darkness World(2019)
														</a>
													</h3>
													<p class="genry">Action, Drama </p>
												</div>
											</div>
										</div>
									</div>
									<div class="trailer-item subleading col-sm-3">
										<div class="trailer">
											<div class="trailer-image-wrap">
												<img class="img-responsive"
													 src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-3.jpg?resize=265%2C165&#038;ssl=1"
													 alt="trailers">
												<a class="play-video"
												   href="CmRih_VtVAs"
												   data-type="youtube">
													<i class="play-icon themeum-moviewplay"></i>
												</a>
												<div class="content-wrap">
													<div class="video-container">
														<span class="video-close">x</span>
													</div>
												</div>
											</div>
											<div class="trailer-info trailers-info">
												<div class="trailer-info-block">
													<h3 class="movie-title">
														<a href="https://demo.themeum.com/wordpress/moview/movie/no-escape/">
															WP Revive(2021)
														</a>
													</h3>
													<p class="genry">Action, Drama </p>
												</div>
											</div>
										</div>
									</div>
									<div class="trailer-item subleading col-sm-3">
										<div class="trailer">
											<div class="trailer-image-wrap">
												<img class="img-responsive"
													 src="https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/11-1-1.jpg?resize=265%2C165&#038;ssl=1"
													 alt="trailers">
												<a class="play-video"
												   href="3JNLwlcPBPI"
												   data-type="youtube">
													<i class="play-icon themeum-moviewplay"></i>
												</a>
												<div class="content-wrap">
													<div class="video-container">
														<span class="video-close">x</span>
													</div>
												</div>
											</div>
											<div class="trailer-info trailers-info">
												<div class="trailer-info-block">
													<h3 class="movie-title">
														<a href="https://demo.themeum.com/wordpress/moview/movie/angry-dory/">
															Angry Dory(2017)
														</a>
													</h3>
													<p class="genry">Action, Drama </p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			{#<div class="vc_row wpb_row vc_row-fluid vc_custom_1455701254246">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="themeum-title yes "><h3 class="style-title"
																style="font-weight:400;font-size:24px;line-height: normal;">
									<span class="title-icon-style"
										  style="color:#dd3333;font-size:35px;line-height: normal;"><i
												class="themeum-moviewcup"></i></span>News Feed</h3>
								<a href="#"
								   class="title-link pull-right">See
									all news<i class="themeum-moviewangle-double-right"></i></a></div>
							<div class="news-feed row">
								<div class="col-sm-6 leading-item">
									<div class="news-feed-item">
										<div class="news-feed-thumb"><a
													href="https://demo.themeum.com/wordpress/moview/2016/02/03/star-wars-ut-enim-ad-minim-veniam-quis-nostrud-exercit/"><img
														class="img-responsive"
														src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-1-1.jpg?resize=1040%2C550&#038;ssl=1"
														alt="Star Wars Ut enim ad minim veniam, quis nostrud exercit"></a>
										</div>
										<div class="news-feed-info"><span class="meta-category"><a
														href="https://demo.themeum.com/wordpress/moview/category/blog/"
														rel="tag">Blog</a><a
														href="https://demo.themeum.com/wordpress/moview/category/feature/"
														rel="tag">feature</a></span>
											<h3 class="news-feed-title"><a
														href="https://demo.themeum.com/wordpress/moview/2016/02/03/star-wars-ut-enim-ad-minim-veniam-quis-nostrud-exercit/">Star
													Wars Ut enim ad minim veniam, quis nostrud exercit</a></h3>
											<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span
														class="meta-date">February 3, 2016</span></div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="news-feed-item">
										<div class="news-feed-thumb"><a
													href="https://demo.themeum.com/wordpress/moview/2016/01/20/duis-aute-irure-dolor-in-reprehenderit-in-voluptate/"><img
														class="img-responsive"
														src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-3.jpg?resize=130%2C135&#038;ssl=1"
														alt="Duis aute irure dolor in reprehenderit in voluptate"></a>
										</div>
										<div class="news-feed-info"><span class="meta-category"><a
														href="https://demo.themeum.com/wordpress/moview/category/blog/"
														rel="tag">Blog</a><a
														href="https://demo.themeum.com/wordpress/moview/category/media/"
														rel="tag">media</a></span>
											<h3 class="news-feed-title"><a
														href="https://demo.themeum.com/wordpress/moview/2016/01/20/duis-aute-irure-dolor-in-reprehenderit-in-voluptate/">Duis
													aute irure dolor in reprehenderit in voluptate</a></h3>
											<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span
														class="meta-date">January 20, 2016</span></div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="news-feed-item">
										<div class="news-feed-thumb"><a
													href="https://demo.themeum.com/wordpress/moview/2016/01/20/nostrud-exercitation-ullamco-laboris/"><img
														class="img-responsive"
														src="https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/8-2.jpg?resize=130%2C135&#038;ssl=1"
														alt="Nostrud exercitation ullamco laboris"></a></div>
										<div class="news-feed-info"><span class="meta-category"><a
														href="https://demo.themeum.com/wordpress/moview/category/movie/"
														rel="tag">movie</a><a
														href="https://demo.themeum.com/wordpress/moview/category/trailers_video/"
														rel="tag">Trailers_video</a></span>
											<h3 class="news-feed-title"><a
														href="https://demo.themeum.com/wordpress/moview/2016/01/20/nostrud-exercitation-ullamco-laboris/">Nostrud
													exercitation ullamco laboris</a></h3>
											<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span
														class="meta-date">January 20, 2016</span></div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="news-feed-item">
										<div class="news-feed-thumb"><a
													href="https://demo.themeum.com/wordpress/moview/2016/01/20/magnam-aliquam-quaerat-voluptatem/"><img
														class="img-responsive"
														src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-1-1.jpg?resize=130%2C135&#038;ssl=1"
														alt="Magnam aliquam quaerat voluptatem"></a></div>
										<div class="news-feed-info"><span class="meta-category"><a
														href="https://demo.themeum.com/wordpress/moview/category/media/"
														rel="tag">media</a><a
														href="https://demo.themeum.com/wordpress/moview/category/movie/"
														rel="tag">movie</a></span>
											<h3 class="news-feed-title"><a
														href="https://demo.themeum.com/wordpress/moview/2016/01/20/magnam-aliquam-quaerat-voluptatem/">Magnam
													aliquam quaerat voluptatem</a></h3>
											<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span
														class="meta-date">January 20, 2016</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>#}
			<div data-vc-full-width="true" data-vc-full-width-init="false"
				 class="vc_row wpb_row vc_row-fluid vc_custom vc_row-has-fill">
				<div id="themeum-tweet" class="themeum-tweet carousel slide" data-ride="carousel" data-interval="5000">

					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#themeum-tweet" data-slide-to="0" class="active"></li>
					</ol>


					<div class="carousel-inner">

						<div class="themeum-tweet-item item themeum-tweet-odd active">
							<div class="themeum-tweet-items">

								<a target="_blank" href="http://twitter.com/">
									<img class="tweet-avatar" src="" alt="" title=""/>
								</a>


								<p class="tweet-username">
									<a target="_blank" href="http://twitter.com/">
									</a>
								</p>

								<div class="tweet-meta">

									<div class="tweet-date">
										<a target="_blank" href="http://twitter.com//status/">Depuis 49 ans</a>
									</div>


								</div>
								<div class="themeum-tweet-text">
									<p class="tweet-content">
									</p>

								</div>
							</div><!--/.themeum-tweet-items-->
						</div><!--/.themeum-tweet-item-->

					</div><!--/.scroller-layout-->

				</div><!--/.themeum-tweet-->
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper"></div>
					</div>
				</div>
			</div>
			<div class="vc_row-full-width vc_clearfix"></div>
			{#<div class="vc_row wpb_row vc_row-fluid vc_custom_1455701770265">
				<div class="wpb_column vc_column_container vc_col-sm-8">
					<div class="vc_column-inner vc_custom_1455701778688">
						<div class="wpb_wrapper">
							<div class="themeum-title yes "><h3 class="style-title"
																style="font-weight:400;font-size:24px;line-height: normal;">
									<span class="title-icon-style"
										  style="color:#dd3333;font-size:35px;line-height: normal;"><i
												class="themeum-moviewvideocam"></i></span>Did You Know</h3>
								<a href="#"
								   class="title-link pull-right">See
									all the Did you know<i class="themeum-moviewangle-double-right"></i></a></div>
							<div class="vc_row wpb_row vc_inner vc_row-fluid">
								<div class="wpb_column vc_column_container vc_col-sm-5">
									<div class="vc_column-inner ">
										<div class="wpb_wrapper">
											<div class="wpb_single_image wpb_content_element vc_align_left">

												<figure class="wpb_wrapper vc_figure">
													<div class="vc_single_image-wrapper   vc_box_border_grey"><img
																width="276" height="406"
																src="https://demo.themeum.com/wordpress/moview/wp-content/plugins/jetpack/modules/lazy-images/images/1x1.trans.gif"
																class="vc_single_image-img attachment-full" alt=""
																data-lazy-src="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/crood-1-1-1.jpg?fit=276%2C406&amp;ssl=1"
																data-lazy-srcset="https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/crood-1-1-1.jpg?w=276&amp;ssl=1 276w, https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/crood-1-1-1.jpg?resize=204%2C300&amp;ssl=1 204w"
																data-lazy-sizes="(max-width: 276px) 100vw, 276px"/>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="wpb_column vc_column_container vc_col-sm-7">
									<div class="vc_column-inner ">
										<div class="wpb_wrapper">
											<div class="wpb_text_column wpb_content_element ">
												<div class="wpb_wrapper">
													<h2>The Kroods</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo
														eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
														enim ad minim.</p>
													<p>veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex
														ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
													<p>veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex
														ea commodo consequat. Duis aute irure  reprehenderit in
														voluptate</p>
													<p><a class="continue" href="#">Continue Reading</a></p>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-4">
					<div class="vc_column-inner vc_custom_1455701785009">
						<div class="wpb_wrapper">
							<div class="themeum-title yes "><h3 class="style-title"
																style="font-weight:400;font-size:24px;line-height: normal;">
									<span class="title-icon-style"
										  style="color:#dd3333;font-size:35px;line-height: normal;"><i
												class="themeum-moviewvideocam"></i></span>Spotlight This Month</h3>
							</div>
							<div class="movie-celebrities">
								<div class="movie-celebrity clearfix"><a
											href="https://demo.themeum.com/wordpress/moview/celebrity/taylor-swift/">
										<div class="pull-left movie-celebrity-thumb"
											 style="background-image: url(https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-2.jpg?resize=130%2C135&#038;ssl=1); "></div>
									</a>
									<div class="movie-celebrity-info">
										<div class="movie-celebrity-name"><a
													href="https://demo.themeum.com/wordpress/moview/celebrity/taylor-swift/">Tata
												Tong</a>
											<small class="movie-celebrity-designation">Singer</small>
										</div>
									</div>
								</div>
								<div class="movie-celebrity clearfix"><a
											href="https://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">
										<div class="pull-left movie-celebrity-thumb"
											 style="background-image: url(https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/14-1.jpg?resize=130%2C135&#038;ssl=1); "></div>
									</a>
									<div class="movie-celebrity-info">
										<div class="movie-celebrity-name"><a
													href="https://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">Julia
												Toufis</a>
											<small class="movie-celebrity-designation">Actor, musician</small>
										</div>
									</div>
								</div>
								<div class="movie-celebrity clearfix"><a
											href="https://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">
										<div class="pull-left movie-celebrity-thumb"
											 style="background-image: url(https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/11-2.jpg?resize=130%2C135&#038;ssl=1); "></div>
									</a>
									<div class="movie-celebrity-info">
										<div class="movie-celebrity-name"><a
													href="https://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">Dummy
												Crud</a>
											<small class="movie-celebrity-designation">Actress, musician</small>
										</div>
									</div>
								</div>
								<div class="movie-celebrity clearfix"><a
											href="https://demo.themeum.com/wordpress/moview/celebrity/kokan-anderson/">
										<div class="pull-left movie-celebrity-thumb"
											 style="background-image: url(https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15-1.jpg?resize=130%2C135&#038;ssl=1); "></div>
									</a>
									<div class="movie-celebrity-info">
										<div class="movie-celebrity-name"><a
													href="https://demo.themeum.com/wordpress/moview/celebrity/kokan-anderson/">Kokan
												Anderson</a>
											<small class="movie-celebrity-designation">Actor</small>
										</div>
									</div>
								</div>
								<div class="movie-celebrity clearfix"><a
											href="https://demo.themeum.com/wordpress/moview/celebrity/riffi-tailor-2/">
										<div class="pull-left movie-celebrity-thumb"
											 style="background-image: url(https://i2.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/30-1.jpg?resize=130%2C135&#038;ssl=1); "></div>
									</a>
									<div class="movie-celebrity-info">
										<div class="movie-celebrity-name"><a
													href="https://demo.themeum.com/wordpress/moview/celebrity/riffi-tailor-2/">Riffi
												Tailor</a>
											<small class="movie-celebrity-designation">Singer</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>#}
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
			let fullPage = $("#full-page");
			/*$(fullPage).css("opacity", 1);
			$("#loading").hide();*/

			let nowPlayingMovies = {{ nowPlayingMovies|serialize('json')|json_encode|raw }};
			nowPlayingMovies = eval('(' + nowPlayingMovies + ')');

			let recentMovies = {{ recentMovies|serialize('json')|json_encode|raw }};
			recentMovies = eval('(' + recentMovies + ')');

			let upcomingMovies = {{ upcomingMovies|serialize('json')|json_encode|raw }};
			upcomingMovies = eval('(' + upcomingMovies + ')');

			let popularMovies = {{ popularMovies|serialize('json')|json_encode|raw }};
			popularMovies = eval('(' + popularMovies + ')');

			let topRatedMovies = {{ topRatedMovies|serialize('json')|json_encode|raw }};
			topRatedMovies = eval('(' + topRatedMovies + ')');

			loadMoviesVideo(nowPlayingMovies)
					.then((movies) => {
						//console.log("Loading now playing movies ...");
						loadContentPage(movies);
						loadMoviesVideo(recentMovies)
								.then((movies) => {
									//console.log("Loading recent movies ...");
									loadContentPage(movies);
									loadMoviesVideo(upcomingMovies)
											.then((movies) => {
												//console.log("Loading upcoming movies ...");
												loadContentPage(movies);
												loadMoviesVideo(popularMovies)
														.then((movies) => {
															//console.log("Loading popular movies ...");
															loadContentPage(movies);
															loadMoviesTrailers(movies);
															loadMoviesVideo(topRatedMovies)
																	.then((movies) => {
																		//console.log("Loading top rated movies ...");
																		loadContentPage(movies);
																	})
																	.finally(() => {
																		$(fullPage).css("opacity", 1);
																		$("#loading").hide();
																	})
														})
											})
								})
					}
			);

			async function loadMoviesVideo(movies) {
				let result;
				try{
					result = await $.ajax({
						method: "POST",
						url: "{{ path('movies-details') }}",
						data: {movies: movies}
					});
					return result;
				}catch (error) {
					console.error(error);
				}
			}

			function loadContentPage(movies) {
				Object.keys(movies).forEach(function (key) {
					let movieId = movies[key].id;
					let videos = movies[key].videos;
					videos = videos.filter(video => video.type === "Trailer" && video.site === "YouTube");
					let videoKey = (videos.length > 0 && videos[videos.length-1].key) ? videos[videos.length-1].key : null;

					let elemVideo = $("a[data-movie-video='" + movieId + "']");
					if(videoKey){
						$(elemVideo).attr("href", videoKey);
						$(elemVideo).show();
					}else{
						$(elemVideo).hide();
					}

					let genres = movies[key].genres;
					genres = genres.slice(0,3);
					genres = Object.keys(genres).map(key => `${genres[key].name}`).join(", ");

					let elemGenres = $("span[data-movie-genres='" + movieId + "']");
					$(elemGenres).html(genres);
				});
			}
			
			function loadMoviesTrailers(movies) {
				let index = 0;
				let mainTrailer = $(".leading");
				let subTrailer = $(".subleading");

				Object.keys(movies).forEach(function (key) {
					let movieId = movies[key].id;
					let genres = movies[key].genres;
					genres = genres.slice(0,3);
					genres = Object.keys(genres).map(key => `${genres[key].name}`).join(", ");

					let videos = movies[key].videos;
					videos = videos.filter(video => video.type === "Trailer" && video.site === "YouTube");
					let videoKey = (videos.length > 0 && videos[videos.length-1].key) ? videos[videos.length-1].key : null;

					if(videoKey){
						let elem;

						if(index==0){
							elem = $(mainTrailer);
						}else {
							elem = $(subTrailer[index-1]);
						}

						let image = $(elem).find(".trailer-image-wrap img");
						image.attr("src", "https://image.tmdb.org/t/p/w500/" + movies[key].backdropPath);
						image.attr("alt", movies[key].title);

						let video = $(elem).find(".trailer-image-wrap a");
						video.attr("href", videoKey);

						let infoImage = $(elem).find(".trailer-info-block img");
						infoImage.attr("src", "https://image.tmdb.org/t/p/w500/" + movies[key].posterPath);

						let movieDate = new Date(movies[key].releaseDate.date);
						let movieDateDay = (movieDate.getDay() < 10) ? "0" + movieDate.getDay() : movieDate.getDay();
						let movieDateMonth = (movieDate.getMonth() < 10) ? "0" + movieDate.getMonth() : movieDate.getMonth();
						let movieDateYear = movieDate.getFullYear();

						let date = movieDateDay + "-" + movieDateMonth + "-" + movieDateYear;
						let infoTitle = $(elem).find(".trailer-info-block h3.movie-title a");
						infoTitle.html(movies[key].title + " (" + date + ")");

						if(index == 0){
							let infoNote = $(elem).find(".trailer-info .count-rating span");
							infoNote.html(movies[key].voteAverage);
						}

						let infoGenres = $(elem).find(".trailer-info-block p");
						infoGenres.html(genres);
					}

					index++;
					if(index === 5) return true;
				});
			}
		})
	</script>
{% endblock %}